# Bases de datos y persistencia (No se suben a GitHub)
prometheus_data/
grafana_data/

# Logs y archivos de sistema
*.log
.DS_Store

# Archivos de configuración local o secretos (si los tuvieras)
.env
